body {
    background-color: #D7CEC7;
}

.color-1{
    height: 500px;
    border: 2px solid black;
    color: white;
    font-size: 100px;
    line-height: 500px;
}

.color-2{
    height: 500px;
    border: 2px solid black;
    color: white;
    font-size: 100px;
    line-height: 500px;
}

.scoring-row{
    font-size: 30px;
}

#score-box{
    background-color: #A0D36E;
}

#timer-box{
    background-color: yellow;
}

#level-box{
    background-color: #FACB47;
}

.button{
    background-color: #1610B5;
}

.button:hover{
    background: red;
}

